html {
	margin: 0px;

}
body {
	margin: 0px;
	font-family: MyriadBold;
}
main {
	width: 50vw;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 25vw;
	margin-left: 25vw;
	background: #A3B7CC;
}
#topbar {
	position: -webkit-sticky;
	position: sticky;
	background: #7990A7;
	height: 108px;
	margin-top: 0px;
	display: grid;
	grid: 108px / 25vw 50vw 25vw;
	top: 0;
	box-shadow: 0px -20px 20px 15px;
}
.socials {
	display: grid;
	height: inherit;
	grid-template-columns: 6.25vw 6.25vw 6.25vw 6.25vw;
}
.socials a {
	display: block;
	height: 50px;
	margin: auto;
	margin-top: 29px;
	margin-bottom: 29px;
}
img.soc {
	display: block;
	margin: auto;
	width: 50px;
	border: none;
}

nav{
	height: 108px;
}

#topnav{
	padding: 0px;
	margin: 0px;
	margin-top: 38.5px; 
	margin-bottom: 38.5px;
	display: grid;
	grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw;
}

ul a {
	margin-right: auto;
	margin-left: auto;
	font-size: 31px;
	font: MyriadBold;
	text-decoration: none;
	color: white;
}

figure {
	height: 54px;
	margin: 0px;
	padding-top: 4px;
	font-size: 54px;
	color: white;
	text-align: right;
	margin-right: 35px;
}
h1 {
	margin: 0px;
	margin-bottom: .67em;
	margin-right: 1vw;
	margin-left: 1vw;
}

p{
	font-size: 20px;
	font-family: MyriadLight;
	margin: 0px;
	margin: .67em;
	margin-right: 1vw;
	margin-left: 1vw;
}
img {
	width: 600px;
	margin-right: 1vw;
	margin-left: 1vw;
	padding: 0px;
	border-color: black;
	border: solid;
}

h2, h3, h4, h5, h6 {
	margin: .67em;
	margin-right: 1vw;
	margin-left: 1vw;
}

audio {
	margin: .67em;
	margin-right: 1vw;
	margin-left: 1vw;
}
footer{
	display: block;
	font-family: MyriadLight;
	vertical-align: bottom;
	margin-top:20;
	margin-right: 50;
	margin-left: 50;
	text-align: right;
	color:white;
	background: black;
	padding: 20px;
	box-shadow: 0px 100px 0px 100px black;
}

h3, h4, h5, h6 {
	font-family: MyriadLight;
}

h2 {
	font-family: MyriadReg;
}

hr {
	border: 0;
	background-color: #7990A7;
	height: .25em;
}
a {
	color:#FFF;
	font-family: MyriadReg;
}
code {
	background: rgba(255,255,255,.75);
	border-radius: 7px;
	padding: .2em;
	padding-right: .67em;
	padding-left: .67em;
	font-size: 15px;
}
form input {
	border-radius: 25px;
	border: none;
	padding: 1em;
}
form {
	margin: 1vw;
}
ul {
	list-style-type: none;
	display: block;
	padding: 0px;
	width:50%;
}
li {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
textarea {
	border-radius: 25px;
	border: none;
	padding: 1em;
	resize:none;
	width:inherit;
}
.welcome {
	border: none;
}
@media only screen and (max-width: 1316px) {
	.socials {
		display: none;
	}
	figure {
		display: none;
	}
	#topnav {
		grid-tempelate-columns: 25vw 25vw 25vw 25vw;
	}
}
@media only screen and (max-width: 620px) {
	
}
