.link{
	color: white;
	text-decoration: none;
	font-size: 30px;
	margin-right:75px;
}
.current{
	color: rgb(134,181,234);
	text-decoration: none;
	font-size: 30px;
	margin-right:75px;
}
p {
	font-size: 20px;
	font-family: Myriad;
	margin-top: 50px;
	margin-left:75px;
	margin-right:100px;
}
h1 {
	font-family: Roboto Medium;
	padding-left: 75px;
}
h2 {
	font-family: Roboto Medium;
	padding-left: 75px;
}
h3 {
	font-family: Roboto Medium;
	padding-left: 75px;
}
h4 {
	font-family: Roboto Medium;
	padding-left: 75px;
}

.navbar {
	text-align: left;
	background: black;
	box-shadow: 0 0 0 10px  black;
}
.footer{
	font-family: Myriad;
	vertical-align: bottom;
	margin-top:20;
	margin-right: 50;
	margin-left: 50;
	text-align: right;
	box-shadow: 0 50vh 0 50vh black;
	color:white;
	background: black;
	padding: 20px;
}