---
---
@font-face{
	font-family: MyriadReg;
	src: url(../fonts/MyriadProRegular.ttf);
}
@font-face {
	font-family: MyriadLight;
	src: url(../fonts/myriadpro-light.otf);
}
@font-face{
	font-family: MyriadBold;
	src: url(../fonts/myriadpro-bold.otf);
}
@import "main";